---
import Container from "@/components/container.astro";
import { Icon } from "astro-icon/components";

export interface Props {
  lang: "en" | "ko";
}

const { lang } = Astro.props;

const menuitems = [
  {
    title: lang === "ko" ? "템플릿" : "Templates",
    path: lang === "ko" ? "/ko/templates" : "/templates",
    icon: "bx:grid-alt",
  },
  {
    title: lang === "ko" ? "블로그" : "Blog",
    path: lang === "ko" ? "/ko/blog" : "/blog",
    icon: "ri:book-line",
  },
  {
    title: lang === "ko" ? "소개" : "About",
    path: lang === "ko" ? "/ko/about" : "/about",
    icon: "bx:user",
  },
  {
    title: lang === "ko" ? "함께 만들기" : "Let’s Talk",
    path: lang === "ko" ? "/ko/contact" : "/contact",
    icon: "ri:mail-line",
  }
];
---

<Container>
  <header class="flex justify-between items-center py-4">
    <!-- Left: Logo -->
    <div class="flex items-center gap-4">
      <a href="/" class="text-xl font-bold text-slate-800">
        <span class="text-black">nam</span><span class="text-slate-500">darine</span>
      </a>
    </div>

    <!-- Right: mobile menu icon + language change -->
    <div class="flex items-center gap-3 lg:hidden">
      <!-- Language button -->
      <a href={lang === "ko" ? "/" : "/ko"} class="text-sm text-gray-600 hover:text-black transition">
        <Icon name={lang === "ko" ? "circle-flags:us" : "circle-flags:kr"} class="w-6 h-6" />
      </a>
      <!-- Mobile Menu button -->
      <button id="mobile-toggle" class="text-gray-800" aria-label="Toggle Menu">
        <Icon name="mdi:menu" class="w-6 h-6" />
      </button>
    </div>

    <!-- Menu -->
    <nav id="mobile-menu" class="hidden w-full lg:flex lg:w-auto mt-4 lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-4 text-base text-slate-600 font-medium">
        {
          menuitems.map((item) => (
            <li>
              <a
                href={item.path}
                class="flex items-center gap-2 py-2 px-2 hover:text-black transition"
              >
                <Icon name={item.icon} class="w-5 h-5" />
                <span>{item.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <!-- Desktop-only language buttons -->
    <div class="hidden lg:block ml-6">
      <a href={lang === "ko" ? "/" : "/ko"} class="text-sm text-gray-600 hover:text-black transition">
        <Icon name={lang === "ko" ? "circle-flags:us" : "circle-flags:kr"} class="w-6 h-6" />
      </a>
    </div>
  </header>
</Container>